extends layout
block content
  header
    script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
    script(src="/scripts/index.js")
  h1= title
  h2 Test
  p Symbol:
  input(class="symbol")
  p Price:
  input(class="price")
  button send
